body {
    border: none;
}

.navbar1 {
    height: 100px;
    background-color: red;
    margin-top: -15px;
}

.weather {
    color: white;
}
.weather-country {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.date {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.image-logo img {
    height: 60px;
}

.sign-subscribe, span {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.sign-in {
    color: white;
}

.sign-in:hover {
    text-decoration: none;
    color: white;
}

.subscribe {
    background-color: white;
}

.subscribe span {
    color: red;
}

.navbar2 {
    background-color: rgb(255, 255, 255);
    padding-left: 0;
}

.navbar2 a {
    text-decoration: none;
    color: black;
    font-family:  "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 19px;
    padding: 12px;
}

.navbar2 a:hover {
    text-decoration: none;
    color: red;
}
.breadcrumb > li + li:before {
    content: "|"
}

.search-icon {
    color: rgba(0,0,0,.55);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
} 

.main-content {
    padding-top: 180px;
}

.stories, .magazine-items {
    position: relative;
    min-height: 35px;
    margin-bottom: 10px;
}

.stories-title, .stories-title > a {
    font-family: "Roboto Condensed",sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgba(3,3,3,.4);
    text-transform: uppercase;
    padding-bottom: 10px;
}

.story-section, .story-section-blue, .magazine-type {
    display: block;
    z-index: 1;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    position: absolute;
    background-color: rgba(255,255,255,.9);
    padding: 3px 10px 3px 10px;
}

.stories .story-section a {
    color: red;
    font-size: 17px;
    font-family: "Roboto Condensed",sans-serif;
}

.stories .story-section a:hover {
    color: red;
    text-decoration: none;
}

.stories .story-image img {
    width: 400px;
}

.story-headline a {
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.story-headline a:hover {
    color: black;
    text-decoration: red underline;
}

.story-caption {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

 .more-story {
    padding-left: 0;
    width: 400px;
 }

.more-story li a{
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.more-story li a:hover{
    color: red;
    text-decoration: none;
}

.stories .story-section-blue a {
    color: rgb(53, 129, 244);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
}

.stories .story-section-blue a:hover {
    color: rgb(53, 129, 244);
    text-decoration: none;
}

.story-details {
    margin-top: -10px;
    border: 1px solid #e6e6e6;
    width: 400px;
    height: 200px;
    padding: 10px;
}

/* Styling the second column, topstory1 */
.topstory-section {
    width: 480px;
}

.stories .topstory-image img {
    width: 480px;
}

.topstory-headline {
    width: 480px;
}

.topstory-headline a{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: black;
    text-decoration: none;
}

.topstory-headline a:hover {
    color: black;
    text-decoration: red underline;
}

.topstory-caption {
    width: 480px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
}

.related-news {
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 1px solid #ddd;
    width: 480px;
}

.related-news-image img {
    width: 100px;
    height: 100px;
}

.related-news .related-news-headline a{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: black;
}

.related-news .related-news-headline a:hover {
    color: black;
    text-decoration: red underline;
}

.more-related-news li {
    border-top: 1px solid #d9d9d9;
    padding: 10px 0;
    border-bottom: 1px solid #d9d9d9;
}

.more-related-news li a {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: black;
    text-decoration: none;
}

.more-related-news li a:hover {
    color: red;
}

/* Styling Culture Travel section */
.cultureTravel {
    width: 480px;
    margin-bottom: 20px;
}

.cultureTravel-title a:hover {
    color: rgba(3, 3, 3, 0.5);
    text-decoration: none;
}

.cultureTravel-image {
    position: relative;
    min-height: 35px;
    margin-bottom: 10px;
}

.cultureTravel-image img {
    width: 150px;
    height: 150px;
}

.cultureTravel .image-category {
    display: block;
    z-index: 1;
    bottom: 0;
    left: 0;
    position: absolute;
}

.cultureTravel .image-category a {
    color: rgb(39, 39, 39);
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    background-color: #c2d4d7;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
}

.image-title a {
    font-family: Lora, serif;
    font-weight: 400;
    color: black;
    font-size: 20px;
}

.image-title a:hover {
    color: black;
    text-decoration: none;
}

.image-info {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgba(39, 39, 39, 0.5);
}

/*Styling the more stories section */
.more-stories {
    width: 480px;
}

.substories {
    width: 480px;
    height: 175px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.stories-image-title img {
    width: 80px;
    height: 80px;
}

.more-details {
    margin-left: -20px;
}

.stories-image-heading a {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: black;
}

.stories-image-heading a:hover {
    color: black;
    text-decoration: red underline;
} 

.more-stories-info {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

/* styling col 3 */
.opinion-container {
    margin-bottom: 10px;
} 

.opinion-list {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.opinion-heading a {
    font-family: "Roboto Condensed", sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 700;
}

.opinion-heading a:hover {
    text-decoration: none;
    color: red;
}

.opinion-name {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: rgb(85, 85, 85);
    text-transform: uppercase;
}

/*debate section */
.debate-container {
    margin-bottom: 20px;
}

.item1 {
    margin-bottom: 50px;
}

.debate-item {
    border-top: 4px solid #f92859;
    padding-bottom: 20px;
    border-bottom-style: double;
    border-bottom-color: #ddd;
}

.debate-image img {
    width: 100px;
    height: 100px;
}

.debate-text a {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: black;
}

.author span {
    color: #555;
}

.author a {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: black;
}

.author a:hover {
    text-decoration: none;
    color: black;
}

 .author-img img {
    transform: translate(410%, -80%);
    width: 60px;
}

.debate-logo {
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #d6d6d6;
    border-radius: 50%;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center; 
    display: flex;
    justify-self: center;
    margin: -30px auto;
}

.debate-item2 {
    border-top: 4px solid #1c87fb;
    border-bottom-style: double;
    border-bottom-color: #ddd;
    padding-bottom: 20px;
}

/* Styling latest news */
.latest-news-list {
    margin-top: 10px;
}

.latest-news-image img {
    width: 100px;
    height: 100px;
}

/* last section of col 3 */
.bottom-image img {
    width: 270px;
} 

.bottom-details {
    margin-top: -10px;
    border: 1px solid #e6e6e6;
    width: 270px;
    height: 270px;
    padding: 10px;
}

.bottom-headline a {
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.bottom-headline a:hover {
    color: black;
    text-decoration: red underline;
}

.bottom-caption {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.advert {
    width: 270px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling magazine section */
.magazine {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
}

.magazine-logo, .featured-slideshows-logo > a {
    display: flex;
    justify-content: center;
    font-size: 19px;
    color: rgb(51, 51, 51);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
}

.featured-slideshows-logo a:hover {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.magazine-logo img {
    width: 30px;
    height: 30px;
}

.magazine-images {
    margin-top: -10px;
}

.magazine-images img{
    width: 290px;
    height: 320px;
}

 .magazine-type {
    margin-bottom: 30px;
    margin-left: 15px;
} 

.magazine-type a {
    font-size: 16px;
    font-weight: 700;
    color: rgb(247, 34, 16);
    text-transform: uppercase;
}

.magazine a:hover {
    text-decoration: none;
    color: rgb(247, 34, 16);
}

.magazine-features {
    background-color: #f4f5f6;
    width: 250px;
}

.magazine-features img {
    display: inline-block;
    width: 8px;
    height: 10px;
}

.magazine-features a {
    color: black;
    font-size: 18px;
}

.magazine-features a:hover {
    color: black;
    text-decoration: none;
    background-color: grey;
    width: 100%;
}

.mag-img img {
    width: 290px;
    height: 200px;
}

.mag-category {
    font-size: 16px;
}

.mag-category .mag-info {
    color: white;
    background-color: red;
}

.mag-category span a {
    color: red;
}

.mag-text a {
    color: black;
    font-size: 20px;
}

.mag-text a:hover {
    text-decoration: red underline;
    color: black;
}

/* Styling Editor's Pick */
.story-image-pick img {
    width: 290px;
    height: 190px;
}

/*Styling featured stories */
.featured-slideshows {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.featured-slideshows-logo img {
    width: 30px;
    height: 30px;
    border-bottom:  3px solid red;
    border-right: 3px solid red;
}

.featured-slideshows a img {
    width: 400px;
    height: 290px;
} 

.slideshow-count {
    width: 60px;
    height: 50px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 58px;
    text-indent: 5px;
    text-align: center;
    background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
    color: #e9212e;
    margin-bottom: 63px;
    margin-left: 16px;
}

.featured-slideshows a {
    color: black;
} 

.featured-slideshows a:hover {
    color: black;
    text-decoration: red underline;
} 