.navbar1 {
    height: 150px;
    background-color: red;
}

.weather {
    color: white;
}
.weather-country {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.date {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.sign-subscribe, span {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.sign-in {
    color: white;
}

.sign-in:hover {
    text-decoration: none;
    color: white;
}

.subscribe {
    background-color: white;
}

.subscribe span {
    color: red;
}

.navbar2 a {
    text-decoration: none;
    color: black;
    font-family:  "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 19px;
}

.navbar2 a:hover {
    text-decoration: none;
    color: red;
}
